Flask-mysql
Flask-SQLAlchemy
Flask-Bootstrap
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
# Werkzeug
# wheel
WTForms==2.0.2
psycopg2
# if you have the Oracle instantclient installed, you can build/activate
# the following as well (ensure ORACLE_HOME is properly set):
cx-Oracle

