{% extends "bootstrap/base.html" %}

{% block title %}iCMS - EPR{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">-->

<!--&lt;!&ndash; DataTables CSS &ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">-->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css">-->

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["message"]) %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

<!--<script src="{{ url_for('static', filename='jquery.confirm.min.js') }}"></script>-->

<!--&lt;!&ndash; jquery 1.11.3 already included in parent &ndash;&gt;-->

<!--&lt;!&ndash; DataTables &ndash;&gt;-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.0/js/dataTables.fixedHeader.min.js"></script>-->

<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>-->
<!--&lt;!&ndash;<script type="text/javascript" charset="utf8" src="https://nightly.datatables.net/buttons/js/buttons.html5.min.js"></script>&ndash;&gt;-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.print.min.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.flash.min.js"></script>-->

<!--<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>-->

<!--<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>-->

{% endblock %}
