{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block title %} Table Schema for {{ tableName }} {% endblock %}

{% block page_content %}

<h3>Table Schema for {{ tableName }} in {{ dbName }}</h3>

<a href="/showDB/{{dbName}}">Back to list of tables for {{ dbName }}</a>

<br /><br />

<table id="tableTable" class="display compact cell-border" cellspacing="0" width="80%">
    <thead>
        <tr>
        {% for c in ['name', 'type', 'nullable', 'default'] %}
        <th> {{ c }} </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for ci in colInfo %}
            <tr>
            {% for c in ['name', 'type', 'nullable', 'default'] %}
            <td> {{ ci[c] }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
        {% for c in ['name', 'type', 'nullable', 'default'] %}
        <th> {{ c }} </th>
        {% endfor %}
        </tr>
    </tfoot>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}


<script language="JavaScript">
$(document).ready(function() {

    $('#tableTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    var table = $("#tableTable").DataTable({
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": '<"top"Bilf>rt<"bottom"flp><"clear">',
        buttons: [
            'columnsToggle'
        ]
    }); // end DataTable
    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
    $("tfoot input").css( { "width" : "100%", "padding" : "3px", "box-sizing" : "border-box" } );
});
</script>


{% endblock %}
