<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>

    <!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">


</head>
<body>

<table id="tableTable" class="display compact cell-border" cellspacing="0" width="100%">
    <thead>
        <tr>
        {% for c in colHeaders %}
        <th> {{ c }} </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            {% for val in item%}
            <td> {{ val }} </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>

<script language="JavaScript">
$(document).ready(function() {
    var table = $("#tableTable").DataTable({
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": '<"top"Bif>rt<"bottom"flp><"clear">',
    }); // end DataTable
});
</script>

</body>
</html>
